.button {
  padding: fluid-to-laptop(17, 13) fluid-to-laptop(27, 19);
  cursor: pointer;

  font-weight: 700;
  font-family: var(--font-family-inter);
  font-size: fluid(18, 13);
  border-radius: fluid(18, 18);
  border: none;
  background-color: transparent;
  color: var(--color-gray-60);

  &.slim{
    font-weight: 500;
  }

  &.accent {

    background-color: var(--color-purple);
    color: var(--color-white-F9);

    @include hover{
      background-color: var(--color-purple-BBB);
      color: var(--color-white-F9);
    }
  }
  @include hover{
    color: var(--color-purple-5C4);
  }

}