.button {
  padding: fluid-to-laptop(17, 13) fluid-to-laptop(27, 19);
  cursor: pointer;

  font-weight: 700;
  font-family: var(--font-family-inter);
  font-size: fluid(18, 12);
  border-radius: fluid(15, 9);
  border: none;


  white-space: nowrap;

  background-color: var(--color-purple);
  color: var(--color-white-F9);

  @include hover{
    background-color: var(--color-purple-BBB);
    color: var(--color-white-F9);
  }

  &__slim{
    font-weight: 500;
  }

  &--transparent{
    background-color: transparent;
    color: var(--color-gray-60);

    @include hover{
      color: var(--color-purple-5C4);
    }
  }
}