.burger-button {
  background-color: transparent;
  border: none;
  @include square(33px);
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8.5px 4.25px;
  color: var(--color-black-28);
  cursor: pointer;
  z-index: 1;

  @include hover{
    color: var(--color-purple);
  }

&.is-active {
  .burger-button__line{
    &:first-child {
      translate: 0 0.45em;
      transform: rotate(45deg);

    }

    &:nth-child(2){
      translate: 0.7em 0;
      width: 0;
      opacity: 0;
    }

    &:last-child {
      transform: rotate(-45deg);
      translate: 0 -0.43em;
    }


  }
}

  &__line{
    width: 100%;
    height: 2px;
    border-width: 1px;
    border-radius: 4px;
    border-color: var(--color-black-28);
    transition-duration: var(--transition-duration);

    background-color: currentColor;

  }
}