html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  background-color: var(--color-background-main);
}
main {
  flex-grow: 1;
}

h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  &.accent {
    color: var(--color-purple-5C4);
  }
}

h1,
.h1 {
  @include fluid-text(75, 46);
  color: var(--color-black-20);
  font-weight: 600;
  &.accent {
    color: var(--color-purple-5C4);
  }
}
h2,
.h2 {
  @include fluid-text(51, 30);
  font-weight: 700;
  color: var(--color-black-18);
}
h3,
.h3 {
  @include fluid-text(35, 23);
  font-weight: 600;
  color: var(--color-black-32);
}
h4,
.h4 {
  @include fluid-text(26, 21);
  font-weight: 600;
  color: var(--color-black-32);
}
h5,
.h5 {
  @include fluid-text(23, 15);
  font-weight: 600;
  color: var(--color-black-32);
}
h6,
.h6 {
  @include fluid-text(19, 13);
  font-weight: 600;
  color: var(--color-black-32);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-gray-99);

  @include hover {
    color: var(--color-purple);
  }

  &[class] {
    text-decoration: none;
  }
}

p {
  color: var(--color-gray-99);
  font-size: fluid(18, 11);
}

:focus-visible {
  @include focus-visible;
}
