.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.visible-tablet {
  @include tablet-above {
    dispay: none !important;
  }
}

.hidden-tablet {
  @include tablet {
    dispay: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    dispay: none !important;
  }
}

.hidden-mobile {
  @include mobile {
    dispay: none !important;
  }
}
