:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-background-main: #f9f9f9;

  --red: red;

  --color-purple: #6c5fbc;
  --color-purple-5C4: #5c4eae;
  --color-purple-6C5: #6C5FBC;
  --color-purple-615: #6155ae;
  --color-purple-BBB: #bbb6d7;


  --color-red-light: #f7c5ba;
  --color-red: #fb471d;

  --color-black-08: #081420;
  --color-black-18: #18181b;
  --color-black-20: #201f1f;
  --color-black-28: #282828;
  --color-black-32: #323142;

  --color-gray-60: #606060;
  --color-gray-63: #636363;
  --color-gray-67: #676767;
  --color-gray-82: #828282;
  --color-gray-96: #969696;
  --color-gray-99: #999999;
  --color-gray-CB: #cbd5e1;
  --color-gray-32: rgba(32, 31, 31, 0.2);

  --color-gray-C5-04: #C5C5C524;

  --color-white-F9: #F9F9F9;
  --color-white-EA: #EAEAEA;

  --color-white-opacity: #F9F9F9A0;
  --color-shadow: #32314240;

  --shadow: var(--color-shadow) 0px 10px 20px 5px;

  --border-radius: #{fluid(15, 9)};

  --corner-shape: #{superellipse(1.7)};



  --transition-duration: 0.2s;

  --border: solid 1.5px var(--color-gray-CB);

  --font-family-base: "Poppins", sans-serif;
  --font-family-inter: "Inter", sans-serif;
  --font-family-sans: "PublicSans", sans-serif;

  --container-width: #{fluid-to-laptop(
      $container-desktop-width,
      $container-laptop-width
    )};

  --container-padding-x: #{fluid(96, 30)};
  --container-padding-top: #{fluid(100, 84)};
}
