.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  padding-top: fluid(48, 33);
  font-family: var(--font-family-inter);
  //padding-inline: fluid(96, 31);
  background-color: var(--color-white-F9);

  &__inner {
    padding-bottom: fluid-to-laptop(25, 17);
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    column-gap: 5px;
    justify-content: space-between;

    @include mobile{
      padding-bottom: 30px;
    }
  }

  &__menu {
    &--item{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    &--link {
      padding: fluid-to-laptop(17, 13) fluid-to-laptop(27, 19);
      color: var(--color-gray-60);
      font-weight: 500;
      font-size: fluid(18, 13);



      @include hover{
        color: var(--color-purple-5C4);
      }

      @include mobile{
        font-size: 18px;
        //border: var(--border);
        //width: 100%;
        border-radius: fluid(15, 9);

      }

      &.is-active {
        color: var(--color-purple-5C4);
        font-weight: 600;
      }
    }

    &--list{
      display: flex;
      align-items: center;
      padding-right: fluid-to-laptop(180, 0);
      row-gap: 10px;

      @include mobile{
        flex-direction: column;

      }
    }

  }
  &__actions {
    display: flex;
    align-items: center;
    column-gap: fluid-to-laptop(9, 6);

    @include mobile{
      //position: absolute;
      top: 25px;
      justify-content: space-between;

    }
  }

  &__overlay-menu-dialog{
    position: fixed;
    flex-direction: column;
    opacity: 100%;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    border: none;
    transition-duration: var(--transition-duration);
    transition-behavior: allow-discrete;
    inset: 0;
    width: 90%;
    height: 95%;



    background-color: var(--color-white-opacity);
    border: var(--border);
    border-radius: calc(var(--border-radius)*3);
    box-shadow: var(--shadow);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);


    @mixin starting-styles {
      backdrop-filter: blur(0px);

      opacity: 0;
      //scale: 90%;
      translate: 10%;
    }


    &[open]{
      display: flex;
      @starting-style {
        @include starting-styles;
      }
    }
    &:not([open]){
      @include starting-styles;
    }


    @include mobile-above{
      display: contents;
    }
  }
}