.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  padding-top: fluid(48, 33);

  padding-inline: fluid(96, 31);

  &__inner {
    padding-bottom: fluid(20, 10);
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    column-gap: 5px;
    justify-content: space-between;
  }

  &__menu {
    &--item{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    &--link {
      padding: fluid-to-laptop(17, 13) fluid-to-laptop(27, 19);
      color: var(--color-gray-60);
      font-weight: 500;
      font-size: fluid(18, 13);



      @include hover{
        color: var(--color-purple-5C4);
      }

      @include mobile{
        font-size: 18px;
        //border: var(--border);
        //width: 100%;
        border-radius: fluid(15, 9);

      }

      &.is-active {
        color: var(--color-purple-5C4);
        font-weight: 600;
      }
    }

    &--list{
      display: flex;
      align-items: center;
      padding-right: fluid-to-laptop(180, 0);
      row-gap: 10px;

      @include mobile{
        flex-direction: column;

      }
    }

  }
  &__actions {
    display: flex;
    align-items: center;
    column-gap: fluid-to-laptop(9, 6);
    @include mobile{
      position: absolute;
      bottom: 50px;
    }
  }

  &__overlay-menu-dialog{
    position: fixed;

    background-color: transparent;
    backdrop-filter: blur(5px);
    opacity: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    transition-duration: var(--transition-duration);
    transition-behavior: allow-discrete;
    inset: 0;
    width: 90%;
    height: 95%;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);


    @mixin starting-styles {
      backdrop-filter: blur(0px);

      opacity: 0;
      scale: 90%;
      translate: 10%;
    }


    &[open]{
      display: flex;
      @starting-style {
        @include starting-styles;
      }
    }
    &:not([open]){
      @include starting-styles;
    }


    @include mobile-above{
      display: contents;
    }
  }

}